.cards {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.edit-icon {
    color: #0a58ca;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.edit-icons-container {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    margin-bottom: 5px;
}

.cancel-icon {
    width: fit-content !important;
    color: red;
    padding: 0 5px !important;
    cursor: pointer;
}

.confirm-icon {
    width: fit-content !important;
    color: green;
    padding: 0 5px !important;
    cursor: pointer;
}